.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}

.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  margin-block: auto;
  color: #293264;
}

.start__btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
}

.shape-yellow {
  transform: translate(609px, -370px);
  width: 300px;
}

.shape-blue {
  transform: translate(-640px, -160px);
  width: 300px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293264;
}

.question {
  list-style: none;
}